{% extends 'student_management/base.html'%}


{%block title %}
	Change Password
{% endblock title %}

{% block edit %}
<a href="{% url 'edit_profile'%}" title="" >Edit Profile</a>
{% endblock edit %}
{%block content%}
	
	<form action="{% url 'change_password' %}" method="POST" accept-charset="utf-8">
	{% csrf_token%}
	{% if form.errors %}

		<p>Your form has errors...</p>
		{% for field in form%}
		{%if field.error%}
			{{ field }}
		{%endif%}
		{% endfor %}

	{% endif %}


	{{ form.as_p }}
<input type="submit" name="" value="Update" >
	</form>
		
{% endblock %}