{% extends 'student_management/base.html'%}


{%block title %}
	Edit Profile
{% endblock title %}


{%block content%}
	 <h2 >Edit Profile</h2>
<form action="{% url 'edit_profile'%}" method="POST" accept-charset="utf-8">
	{% csrf_token%}
	{% if form.errors %}

		<p>Your form has errors...</p>
		{% for field in form%}
		{%if field.error%}
			{{ field }}
		{%endif%}
		{% endfor %}

	{% endif %}


	{{ form.as_p }}
	<p><small><a href="{% url 'change_password'%}">Click here </a>to change your password.</small></p>
<input type="submit" name="" value="Update" >
</form>

{% endblock %}