{% extends 'student_management/base.html'%}


{%block title %}
	Login
{% endblock title %}

{% block link %}
	<a href="{% url 'register' %}" title="">Register</a>
{% endblock link %}

{%block content%}
<body>
	<div>
		<form method="POST" accept-charset="utf-8">
			{% csrf_token%}

			<input type="text" name="username" placeholder="User Name"><br>
			<input type="password" name="password" placeholder="Password">
			<br>
			<button type="submit">Login</button>
		</form>
	</div>

</body>
</html>
{% endblock content%}