{% extends 'student_management/base.html'%}


{%block title %}
	Register
{% endblock title %}


{%block content%}



<form action="{% url 'sign'%}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<!--{% if form1.errors %}

		<p>Your form has errors...</p>
		{% for field in form1%}
		{%if field.error%}
			{{ field }}
		{%endif%}
		{% endfor %}

	{% endif %}-->
	{{ student_form.errors }}
	{{ user_form.errors }}
	{{student_form.media.js}}
	{{ student_form.as_p }}
 	{{ user_form.as_p }} 
 	<label>{{form2.first_name.label}}</label>
 	
<input type="submit" name="" value="Register">
</form>

{%endblock content%}