{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<div id='img'></div>
	<h2 id='name'>{{text}}</h2> 
	<h3 id='id'></h3>
	<h3 id='dept'></h3>
	

	<script>
		
		var socket = new WebSocket('ws://localhost:8000/ws/some_url/');
		
		socket.onmessage = function(event)
		{
			 var data = JSON.parse(event.data);
			 console.log(data);
			 if (data.message != "Unknown face detected")
			 {   
			 	 
			 	 document.querySelector('#name').innerText = data.name;
				 document.querySelector('#id').innerText = data.id;
				 document.querySelector('#dept').innerText = data.Department;
				 //document.querySelector('#img').innerText = data.img;
				 var el = document.getElementById("img");
   				 el.innerHTML=`<img src= ${data.img}>`;
   				 //alert(`${window.location.origin}{{ data.img }}`)
   				 //alert(data.img)

			}	

			else 
			{
				document.querySelector('#name').innerText = data.message;	
				document.querySelector('#id').innerText = ''
				document.querySelector('#dept').innerText = ''
				document.querySelector('#img').innerText = ''

			}
		}	

	</script>

</body>



</html>